@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Global Styles */

body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    position: relative;
}

header {
    text-align: center;
    padding: 0;
    position: relative;
    z-index: 1;
}

.allbutton {
    color: inherit;
    text-decoration: none;
    animation: AllButtonAnimation 1s infinite alternate;
    display: inline-block;
    }
	
@keyframes AllButtonAnimation {
    from {
        transform: scale(0.95);
    }
    to {
        transform: scale(1.0);
    }
}

h1 {
	font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 15px 0;
    text-transform: uppercase;
    background-color: #333;
    width: 100%;
    font-size: 2.3em;
    position: relative;
    z-index: 2;
}

/* Pseudo-element for full-width background */

header::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -20px;
    right: -20px;
    bottom: 0;
    background-color: #333;
    z-index: 0;
}

/* Unit Styles */

nav h2 {
	font-family: 'Poppins', Arial, sans-serif;
    margin: 15px 0;
    text-transform: uppercase;
    font-size: 1.8em;
    text-align: center;
}

.vocabulary-item {
    text-align: center;
    margin: 10px 0;
}

.vocabulary-item:last-child {
    margin-bottom: 20px;
}

/* Search Container */

.search-container {
    display: flex;
	align-items: center;
	position: relative;
	width: 100%;
}

input[type="text"] {
    padding: 12px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    width: calc(100% - 40px);
}

input[type="text"]:focus {
    outline: none;
}

#clearButton {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  display: none; /* Ukryj na początku */
  position: absolute;
  right: 60px; /* Przesunięte o 40px w lewo */
  top: 50%;
  transform: translateY(-50%);
  color: #fff; /* Kolor ikony X */
}

#clearButton:hover {
  color: #ff9900;
}

/* Menu Button */

#menuButton {
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    border: none;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: background-color 0.3s;
}

#menuButton:hover {
    background-color: #555;
}

/* Menu Display */

#menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    padding: 10px;
    border-radius: 4px;
    z-index: 10;
}

/* Swap Button */

#swapButton {
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    border: none;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    line-height: 40px;
    transition: background-color 0.3s;
}

#swapButton::before {
    content: '⇆';
    margin-top: -2.5px;
}

#swapButton:hover {
    background-color: #555;
}

/* Back Button */

#backButton {
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    border: none;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 40px;
    transition: background-color 0.3s;
}

#backButton:hover {
    background-color: #555;
}

/* Table Styles */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
	margin-bottom: 20px;
}

td {
    padding: 8px;
    border-bottom: 1px solid #333;
	border-top: 1px solid #333;
    text-align: left;
    width: 50%;
}

td:first-child {
    font-weight: bold;
}

tr.highlight {
	background-color: #332211;
}

.category-row {
    font-size: 1.2em;
    text-align: center;
    color: #ffcc00;
    font-weight: bold;
}

.category-row td {
    padding: 10px 0;
    text-align: center;
}

.smaller-category {
    font-size: 1.1em;
    color: #888;
}

/* Main Content */

main {
    margin-top: 20px;
    text-align: center;
}

/* Navigation */

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
}

nav ul li:first-child {
    border-top: none;
}

nav ul li:last-child {
    border-bottom: none;
}

nav ul li a {
    text-decoration: none;
    color: #ffcc00;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff9900;
}

.vocabulary-item:hover a {
    color: #ff9900;
}

nav ul li .test-date {
    display: block;
    font-size: 14px;
    opacity: 0.6;
    transition: opacity 0.3s;
}

.SpecialDate {
    animation: SpecialAnimation 1s infinite alternate;
}

@keyframes SpecialAnimation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

.vocabulary-item:hover .test-date {
    opacity: 0.4;
}
