body { background-color: #121212; color: #ffffff; font-family: Arial, sans-serif; margin: 0; padding: 20px; position: relative; }
.search-container { display: flex; align-items: center; position: relative; width: 100%; }
input[type="text"] { padding: 12px 20px; background-color: #333; color: #fff; border: none; border-radius: 4px; box-sizing: border-box; width: calc(100% - 40px); }
input[type="text"]:focus { outline: none; }
#clearButton { background-color: transparent; border: none; cursor: pointer; display: none; position: absolute; right: 58px; top: 52%; transform: translateY(-50%); }
#clearButton:hover { color: #ff9900; }
#menuButton { width: 40px; height: 40px; background-color: #333; color: #fff; border: none; margin-left: 10px; border-radius: 4px; cursor: pointer; display: flex; justify-content: center; align-items: center; font-size: 18px; transition: background-color 0.3s; }
#menuButton:hover { background-color: #555; }
#menu { display: none; position: absolute; top: 50px; right: 10px; padding: 10px; border-radius: 4px; z-index: 10; }
#swapButton { width: 40px; height: 40px; background-color: #333; color: #fff; border: none; margin-top: 10px; border-radius: 4px; cursor: pointer; display: flex; justify-content: center; align-items: center; font-size: 22px; line-height: 40px; transition: background-color 0.3s; }
#swapButton:hover { background-color: #555; }
#backButton { width: 40px; height: 40px; background-color: #333; color: #fff; border: none; margin-top: 10px; border-radius: 4px; cursor: pointer; display: flex; justify-content: center; align-items: center; font-size: 18px; line-height: 40px; transition: background-color 0.3s; }
#backButton:hover { background-color: #555; }
table { width: 100%; border-collapse: collapse; margin-top: 20px; margin-bottom: 20px; }
td { padding: 8px; border-bottom: 1px solid #333; border-top: 1px solid #333; text-align: left; width: 50%; }
td:first-child { font-weight: bold; }
tr.highlight { background-color: #332211; }
.category-row { font-size: 1.2em; text-align: center; color: #ffcc00; font-weight: bold; }
.category-row td { padding: 10px 0; text-align: center; }
.smaller-category { font-size: 1.1em; color: #888; }
main { margin-top: 20px; text-align: center; }
